.calendar__grid {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 60px;


  .column__day {
    flex-grow: 1;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: -20px;
      left: 0;
      height: calc(100% + 20px);
      width: 1px;
      background-color: #ccc;
    }

    .sell {
      position: relative;
      height: 60px;
      border-top: 1px solid #ccc;
    }

    .redline {
      position: absolute;
    }
  }
}

.calendar__columns {
  width: 100%;
  display: flex;
}

.popup {
  &__data {
    display: flex;
    align-items: center;
  }

  span {
    margin-left: 20px;
  }

  .close {
    position: absolute;
    top: 5px;
    right: 5px;
  }
}

#modal1 {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fafafa;
  padding: 16px 24px 10px;
  max-height: 70%;
  width: 500px;
  margin: auto;
  overflow-y: auto;
  border-radius: 10px;
  will-change: top, opacity;
  z-index: 99;
}

#modal2 {
  position: absolute;
  color: #000;
  bottom: -25px;
  right: -15%;
  background-color: #fafafa;
  padding: 4px 25px 4px 10px;
  max-height: max-content;
  width: max-content;
  border-radius: 2px;
  z-index: 99;
  .popup-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.event {
  position: absolute;
  width: 90%;
  height: 100%;
  color: #fff;
  padding: 4px;
  border-radius: 5px;

  &-title {
    font-size: 16px;
    color: #fff;
    margin: 0;
  }

}